.ol {
  list-style: none;
  display: flex;
  justify-content: center;
  background: #fee600;
  width: 100%;
  flex-wrap: wrap;
}

.ol li {
  width: 100px;
  align-items: center;
  text-align: center;
}

.ol li a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 1rem;
}

.link-footer {
  font-size: 1.2rem;
  font-family: 'coogose-light';
  color: #000000;
}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15vh;
  z-index: -10;
  flex-wrap: wrap;
}

.items-footer {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ffe602;
  width: 100%;
}

.items-footer li {
  list-style: none;
}

.items-footer .item::before {
  top: -180px;
  right: 270px;
  left: 41%;
  transform: translate(-50%, -50%);
  font-size: 6vw;
  pointer-events: none;
  font-weight: 700;
  transition: 0.5s;
  opacity: 0;
}

.items-footer .item:hover::before {
  color: black;
  opacity: 0.1;
  transform: translate(-30%, calc(-30% + 150px));
}

.items-footer .item a {
  position: relative;
  width: 70px;
  height: 50px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  border-radius: 100px;
  text-decoration: none;
  margin: 20px;
  font-size: 2rem;
  transform-style: preserve-3d;
  perspective: 500px;
  box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
  transition: background 0.25s;
}

.slogan-footer {
  color: #000000;
  background: #fee600;
  width: 100%;
  text-align: center;
  font-size: 1rem;
}
