.container-about {
     margin: 2rem;
     display: grid;
     grid-template-columns: 1fr 1fr;
     align-items: center;
     justify-content: space-evenly;
}

.container-titles {
     display: flex;
     flex-direction: column;
}
.title-aboutUs {
     color: #ffcb05;
     font-family: coogose-thin;
     font-weight: bolder;
     font-size: 5rem;
     text-transform: uppercase;
}

.container-description {
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 4rem 0;
}

.image-description {
     width: 80%;

}